body {
    margin: 0;
    background-color: #1B244A;
    display:flex;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}


.container {
    position: absolute;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:33vw;
  margin:50px 33vw;
}

#resetbtn{
    position: absolute;
    align-items: center;
    top:350px;
    left:235px;
    border: 2px solid white;
    color:white;
    background-color: #ab1212;
    border-radius: 5px;
    padding: 10px;
}

.home-title {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;
    margin: 0 auto;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}
.home-score-background{
 position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
}
#score-home-el{
    position: absolute;
    width: 117px;
    height: 120px;
    margin: 0 auto;
    top: 5px;
    left: 13px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}
#freethrow-home-el {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    border: 2px solid #9AABD8;
    color:#9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
}

#midrange-home-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;
    border: 2px solid #9AABD8;
     color:#9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
}
#longthree-home-el{
     box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;
    border: 2px solid #9AABD8;
    color:#9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
}
.guest-title{
   position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;
    margin: 0 auto;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}
.guest-score-background{
    position: absolute;
    width: 155px;
    height: 120px;
    left: 337px;
    top: 125px;
    background: #080001;
    border-radius: 5px;
}

#score-guest-el{
    position: absolute;
    width: 117px;
    height: 120px;
    margin: 0 auto;
    top: 5px;
    left: 13px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}
#score-home-el{
    position: absolute;
    width: 117px;
    height: 120px;
    margin: 0 auto;
    top: 5px;
    left: 13px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
}
#freethrow-guest-el {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 337px;
    top: 271px;
    border: 2px solid #9AABD8;
    color:#9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
}

#midrange-guest-el{
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 391px;
    top: 271px;
    border: 2px solid #9AABD8;
     color:#9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
}
#longthree-guest-el{
     box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 447px;
    top: 271px;
    border: 2px solid #9AABD8;
    color:#9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
}
